
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.logo{
  width: 120px;
  height: auto;
}
.carrito{
  height: 30px;
  width: auto;
}
.mensaje-slider{
  font-family: 'JetBrains Mono', monospace;
  color:#C43A96;
  font-size: 13px;
  width: 400px;
  position:absolute;
  z-index: 30;
  top:360px;
  left:190px;

}

.me-auto {
  margin-left: auto!important;
  margin-right: 0px !important;
}
.card {
  margin: 20px;
}
.carrito{
  fill: #ffffff;
  text-shadow: 2px 2px #6348C9;
}
.navbar-expand {
  margin: 0px;
  padding: 0px;
}
a.nav-link {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px; 
  color:#ffffff ;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255) !important;
  text-shadow: 2px 2px #6348C9;
  padding-right: 2.5rem;
}
.menu {
  background-color: #FFE3FA;
}

.fondo1{
  background-image: url("../public/img/fondo1.png");
  background-size: cover;
}
.carousel-caption {
  bottom: 6.25rem;
}
.slider .carousel-caption h5 {
  font-family: 'Coustard', serif;
  font-size: 80px;
}
.slider .carousel-caption p {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
}

.carousel-caption {
  bottom: inherit;
  top: 8.25rem;
}
.slider img.d-block.w-100 {
  width: 40%!important;
  margin: 0 100px 40px;
  float: right;

}

.carousel-caption {
  text-align: left;
  color: #6348c9;
}


