.App {
  text-align: center;
}
.menu {
padding:10px;
text-align: center;
background-color: #FFC117;
}
.menu a {
  padding-right: 10px;
  text-decoration:none ;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
}
.sliderinicial ul.menu {
  margin: 0px;
  position: relative;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 550px;
  margin: 0;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 550px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
.menu2{
  text-align: center;
  margin: 20px;
  position: absolute;
  z-index: 2;
  bottom: 105px;
  left: 40%;
  right: 40%;
}

.menu2 li{
  display: inline-block;
  text-align: center;
}


.menu2 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  margin-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
