
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
  background: #F0F2F5;
}
.logo{
  width: 120px;
  height: auto;
  margin: 10px;
}
#checkout{
  margin-top: 50px;
  margin-top: 50px;
}
.item-image{
  width: 200px;
  margin: 0 auto;
  display: block;
}
.text-center{
  text-align: center;
}
.detalle p {
  text-align: center;
}
.boton-detail{
  display: block;
  margin: 10px auto;
  color:#ffffff;
  background: #C43A96;
  text-align: center;
  width: 150px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.carousel-caption {
  text-align: left;
  width: 600px;
}
.btn-outline-primary {
  color: #C43A96 !important;
  border-color: #C43A96 !important;
}
.btn-outline-primary:hover {
  color: #fff  !important;
  background-color:#C43A96 !important;
  border-color:#C43A96 !important;
}
.boton-detail:hover{
  color:#ffffff;
  background: #da69b5;
}
.menu-nav{
 background: #FFE3FA;
}
.carrito{
  height: 30px;
  width: auto;
}
.mensaje-slider{
  font-family: 'JetBrains Mono', monospace;
  color:#C43A96;
  font-size: 13px;
  width: 400px;
  position:absolute;
  z-index: 30;
  top:360px;
  left:190px;

}
.cart-link{
  display: inline-block;
}
.hide  {
  display: none ;
}
.show {
display:block;
}
#carrito-compras{
  margin: 50px 0px;
}

.card-title {
  
  font-size: 40px;
  font-weight: 700;
}
.stock{
  font-weight: 700;
}
.margen{
  margin-top: 30px;
  margin-bottom: 30px;
}
.detalle{
  background: #ffffff;
  border-radius: 20px; 
  padding: 10px;
  margin-top: 20px;
}
.carrito-compras{
  background: #f2f2f2;
  margin: 30px 0px;
    border-radius: 30px;
    padding: 20px;
}
.carrito-vacio{
  background: #f2f2f2;
    border-radius: 30px;
    padding: 20px;
    margin: 30px 0px;
}
.carrito-compras img{
  width: 100px;
}
.producto-carrito{
  margin-bottom: 20px;
}
.item-carrito h1{
  font-size: 20px;
  display:inline;
 
}
.item-carrito{
  font-size: 20px;
  display:inline;
}
.card-img, .card-img-bottom, .card-img-top {
  max-width: 300px;
}
button.btn.btn-outline-primary {
  margin-right: 5px;
}
button.btn.btn-outline-primary {
  margin-left: 5px;
}
button.btn.btn-primary {
  margin: 10px 0px;
}
.contenedor-detalle {
background: #ffffff;
margin:10px 0px;
padding: 10px;
border-radius: 20px;
}
.img-item{
  transform: scale(0.9);
  transition-duration: 300ms;
  }
.img-item:hover{
transform: scale(1);
transition-duration: 300ms;
}
.me-auto {
  margin-left: auto!important;
  margin-right: 0px !important;
}
.card {
  margin: 20px;
}
.carrito{
  fill: #ffffff;
  text-shadow: 2px 2px #6348C9;
}
.navbar-expand {
  margin: 0px;
  padding: 0px;
}
.navbar-nav a {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px; 
  color:#ffffff ;
  text-shadow: 2px 2px #6348C9;
  text-decoration: none;
  padding-right: 2.5rem;
}
button.btn.btn-primary {
  margin: 10px 0px;
  background: #6348C9;
  border: 1px solid #6348C9;
}
.navbar-nav a:hover{
  color:#e0e0e0 ;
}
.menu {
  background-color: #FFE3FA !important;
}

.fondo1{
  background-image: url("../public/img/fondo1.png");
  background-size: cover;
}
.carousel-caption {
  bottom: 6.25rem;
}
.slider .carousel-caption h5 {
  font-family: 'Coustard', serif;
  font-size: 80px;
  color: #6348c9;
  background: #ffe3fa;
    width: 426px;
}
.slider .carousel-caption p {
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  color: #6348c9;
}

.carousel-caption {
  bottom: inherit;
  top: 8.25rem;
}
.slider img.d-block.w-100 {
  width: 40%!important;
  margin: 0 100px 40px;
  float: right;

}

.carousel-caption {
  text-align: left !important;
  color: #6348c9;
}
.anuncio{
  font-size: 20px;
 }
 .form{
  margin: 30px 0px;
 }
 .text-form{
  font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    color: #6348c9;
 }
 input[type="number"] ,input[type="text"]{
  width: 300px;
  margin: 10px 0px;
}
@media only screen and (max-width: 1043px) {
  .slider .carousel-caption h5 {
    width: 330px;
}
.slider img.d-block.w-100 {
  width: 30%!important;
}
.carousel-caption {
  position: absolute;
  top: 30px;
  bottom: initial;
  width: 400px;
}
}
@media only screen and (max-width: 991px) {
  .slider .carousel-caption h5 {
    font-size: 60px;
}
.carousel-caption {
  width: 200px;
  top: 0px;
}
}
@media only screen and (max-width: 767px) {
  .slider .carousel-caption h5 {
    font-size: 40px;
    width: 200px;
}
.carousel-caption {
  width: 300px;
}
.slider img.d-block.w-100 {
  opacity: 0;
}
}




